/* Whole Page styling */
html {
    min-height: 100vh;
}


body {
    margin: 0;
    background: radial-gradient(white, grey)
}
h1 {
    text-align: center;
    font-size: 75px;
    color: red;
}
/*Flex display containers: */
.gameContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.gameStatusContainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.gameCard {
    /* background: black; */
    display: flex;
    border: 3px solid white;
    height: 175px;
    width: 125px;
    border-radius: 5%;
}
img {
    margin: 5px auto;
}

.themePicture {
    background: rgb(180, 143, 143);
    grid-column: 1 /-1;
    height: 200px;
}