/* Whole Page styling */
html {
    min-height: 100vh;
}


body {
    margin: 0;
    background: radial-gradient(white, grey)
}
h1 {
    color: red;
}
/*Flex display containers: */
.gameContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 10%;
}

.gameStatusContainer {
    grid-column: 1 / -1;
}

.gameCard {
    background: black;
    border: 3px solid white;
    height: 175px;
    width: 125px;
}