/* Whole Page styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    min-height: 100vh;
}

body {
    
    margin: 0;
    background: radial-gradient(white, rgb(66, 66, 66))
}
h1 {
    text-align: center;
    font-size: 75px;
    color: rgb(180, 143, 143);
}
/*Flex display containers: */
.gameContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    margin: 50px 0 50px 0;
    perspective: 1000px;
}

.gameStatusContainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.gameCard {
    background: white;
    position: relative;
    display: flex;
    border: 3px solid black;
    height: 175px;
    width: 125px;
    border-radius: 5%;
    justify-content: center;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.gameCard:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.gameCard.flip {
    transform: rotateY(180deg);
}

.card_Back {
    margin: 5px auto;
    /* background-color: white; */
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.card_Front {
    margin: 5px auto;
    /* background-color: white; */
    position: absolute;
    backface-visibility: hidden;
    /* transform: rotateY(180deg); */
}


.themePicture {
    background: rgb(180, 143, 143);
    grid-column: 1 /-1;
    height: 200px;
}